.titleResult {
    border: solid 5px white;
    background-color: darkblue;
    color: white;
    height: 50px;
}

.Scroll {
    height: 85%;
    width: 95%;
    overflow: hidden;
    background-color: white;
    padding: 50px 0px 0px 20px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.resulttabling {
    width: 120%;
    td {
        border: solid 2px white;
        height: 40px;
        font-size: 1em;
    }
    tr {
        border: solid 2px white;
        height: 40px;
        font-size: 1em;
    }
    height: 100%;
    margin-top: -10px;
    tbody {
        tr {
            &:nth-child(odd) {
                background-color: #e7e7e7;
            }
            &:nth-child(even) {
                background-color: #cbcbcb;
            }
        }
    }
}

#VehiclePart {
    height: 70px;
}

.pagination {
    margin-top: 10px;
    margin-left: 10px;
}

.pagination .page-item:hover .page-link {
    --bs-pagination-hover-bg: transparent; /* Replace with your desired hover background color */
    --bs-pagination-focus-box-shadow: none;
    --bs-pagination-hover-bg: transparent;
    --bs-pagination-bg: transparent;
}

.page-link {
    background-color: transparent;
    color: black;
    border: solid 1px transparent;
    width: 20px;
    padding: 0px 0px;
}

.page-link.active {
    background-color: transparent;
    color: black;
    border: solid 1.5px #5894f2;
}

.active > .page-link {
    background-color: transparent;
    color: black;
}

.previous-link {
    padding: 0px 5px;
}
.prev-next-btn {
    max-width: 20px;
    height: 15px;
}

.next-link {
    padding: 0px 5px;
}

.break-link {
    text-decoration: none;
    color: black;
}

#itemsPerPage {
    height: fit-content;
    min-width: 80px;
    text-align: center;
}

.droplist {
    position: fixed;
    background-color: white;
    align-items: left;
    margin-left: 5%;
    margin-top: -10px;
    width: 12.6vw;
    display: block;
    padding: 5px;
    border-radius: 3px;
    border: solid 1px grey;
}
.dropdldtxt {
    margin-top: 10px;
    font-weight: bold;
    float: left;
    margin-bottom: 5px;
}
.dropdldbtn {
    text-align: left;
    border: transparent;
    background-color: transparent;
    float: left;
    width: 100%;
    padding: 5px;
    &:hover {
        background-color: rgb(185, 185, 185);
    }
}

.col-4 {
    margin-top: 10px;
    display: flex;
}

.p-table {
    td {
        border: solid 2px white;
        height: 40px;
        font-size: 1.1em;
    }
    tr {
        border: solid 2px white;
        height: 40px;
        font-size: 1.1em;
    }
    height: 100%;
    width: 97%;
    margin-top: -10px;
    tbody {
        tr {
            &:nth-child(odd) {
                background-color: #e7e7e7;
            }
            &:nth-child(even) {
                background-color: #cbcbcb;
            }
        }
    }
}

.contents-p-list {
    display: flex;
    background-color: white;
    min-height: 100%;
    min-width: 100%;
    width: max-content;
    height: max-content;
    border-radius: 20px;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
}

.plistscroll {
    background-color: #b0c4e4;
    height: 85%;
    width: 100%;
    border-radius: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: block;
    max-height: 98%;
    max-width: 99%;
    padding-bottom: 20px;
    padding-right: 50px;
}

#pscrolling-style {
    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }
    &::-webkit-scrollbar {
        width: 15px;
        background-color: white;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
        border-radius: 20px;
        background-color: white;
        width: 50px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #b0c4e4;
        border: 2em solid #7697cb;
    }
}

.dwnload{
    align-items: center;
    text-align: center;
    border: transparent;
    background-color: transparent;
    float: right;
    margin-right: 10%;
}

.download-button {
    max-width: 50px;
    background-color: transparent;
    cursor: pointer;
}
.downloadtext {
    cursor: pointer;
    font-weight: bold;
    margin-top: -5px;
}
.titlecontent h3{
    font-style: normal;
}

.scrollsynch {
    max-width: 98%;
	overflow-x: scroll;
	&::-webkit-scrollbar {
		height: 13px;
	}
	&::-webkit-scrollbar-track {
		background-color: white;
		border-radius: 5px;
		margin-left: 5px;
		margin-right: 5px;
	}
	&::-webkit-scrollbar-thumb {
		background: rgba(118,151,203,255);
		border-radius: 5px;
		background-clip: content-box;
		height: 20px;
	}
}

.emptyscroll {
    width: 187%;
}
