
.titleResult{
    border: solid 5px white;
    background-color: darkblue;
    color: white;
    height: 50px;
}

.Scroll{
    height: 480px;
    width: 900px;
    overflow: hidden;
    background-color: white;
    padding: 50px 0px 0px 20px;
	border-radius: 20px;
	margin-bottom: 10px;
}

.resulttabling {
    width: 120%;
	td {
		border: solid 2px white;
		height: 40px;
		font-size: 1em;
	}
	tr {
		border: solid 2px white;
		height: 40px;
		font-size: 1em;
	}
	height: 100%;
	margin-top: -10px;
	tbody {
		tr {
			&:nth-child(odd) {
				background-color: #e7e7e7;
			}
			&:nth-child(even) {
				background-color: #cbcbcb;
			}
		}
	}
	
}

.emptyscrolling {
    width: 200%;
}

.contents-results::-webkit-scrollbar {
    background-color: transparent;
}

.Scrollthebar {
    overflow-x: auto;
	margin-top: -10px;
	width: 900px;
	display: block;
	float: left;
	float:inline-start;
}

.Scrollthebar::-webkit-scrollbar {
    width: 15px;
}

.Scrollthebar::-webkit-scrollbar-track {
    border-radius: 20px;
    background-color: white;
    width: 50px;
}

.Scrollthebar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #b0c4e4;
    border: 2em solid #7697cb;
}

.emptyscroll {
    width: 200%;
}

.contents-results::-webkit-scrollbar {
    background-color: transparent;
}

.BarScroll {
    overflow-x: auto;
	margin-top: -10px;
	width: 520px;
	display: block;
	float: right;
	float:inline-start;
	transform: rotate(90deg);
	margin-right: -240px;
	margin-top: -280px;
}

.BarScroll::-webkit-scrollbar {
    width: 15px;
}

.BarScroll::-webkit-scrollbar-track {
    border-radius: 20px;
    background-color: white;
    width: 50px;
}

.BarScroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #b0c4e4;
    border: 2em solid #7697cb;
}

#VehiclePart {
    height: 70px;
}

.pagination {
    margin-top: 10px;
    margin-left: 10px;
}

.pagination .page-item:hover .page-link {
    --bs-pagination-hover-bg: transparent; /* Replace with your desired hover background color */
    --bs-pagination-focus-box-shadow: none;
    --bs-pagination-hover-bg: transparent;
    --bs-pagination-bg: transparent;
}

.page-link {
    background-color: transparent;
    color: black;
    border: solid 1px transparent;
    width: 20px;
    padding: 0px 0px;
}

.page-link.active {
    background-color: transparent;
    color: black;
    border: solid 1.5px #5894f2;
}

.active > .page-link {
    background-color: transparent;
    color: black;
}

.previous-link {
    padding: 0px 5px;
}
.prev-next-btn {
    max-width: 20px;
    height: 15px;
}

.next-link {
    padding: 0px 5px;
}

.break-link {
    text-decoration: none;
    color: black;
}

#itemsPerPage {
    height: fit-content;
    min-width: 80px;
    text-align: center;
}

.col-3{
	
}

.col-4{
    margin-top: 10px;
    display: flex;
}


