.header{
    display: flex;
    text-align: center;
    background-color: #001a71;
    height: 10vh;
    
  }
  
  .logo{
    color: white;
    font-family: "VLNL Decks";
    font-style: italic;
  }
  
  .header div p.logo{
    font-size: xx-large;
    margin-top: 20px;
  }
  
  .logotext{
    color: white;
    margin-top: -50px;
    font-weight: bold;
    font-size:x-small;
  }
  
  .label{
    color: white;
    flex: 10%;
    text-align: center;
    display: block;
    font-family: Tahoma;
    font-size: xx-large;
  }
  
  p.label{
    margin-top: 20px;
  }
  
  .body{
    background-color: #001a71;
    height: 90vh;
    padding-top: 1em;
    display: block;
  }
  
  .wrapper{
    position: absolute;
    height: 70vh;
    background-color: #d8dcf4;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    margin-left: 5vh;
    backdrop-filter: blur(20px);
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .form-box h2{
    margin-top: 20px;
    font-size: 2em;
    color: black;
    text-align: center;
  }
  
  .input-box{
    position: relative;
    width: 80%;
    height: 50px;
    border-bottom: 2px solid #172685;
    margin: 30px 30px;
  }
  
  .input-box ::placeholder{
    color: #64a5b4;
  }
  
  .input-box{
    display: flex;
  }
  
  .input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    margin-top: 5px;
    font-size: 1.2em;
  }

  .name-box{
    width: 35%;
    display: inline;
    border: transparent;
    border-bottom: 2px solid #172685;
    margin: 10px 20px;
    background-color: transparent;
    outline: none;
    margin-top: 5px;
    font-size: 1.2em;
  }

  .name-box::placeholder {
    color: #64a5b4;
  }

  .valid-box {
    height: 40vh;
    font-size: 1.5em;
    text-align: left;
    margin: 5%;
    margin-top: 15%;
    border: solid 1px black;
    border-radius: 5%;
    padding: 20px;
    padding-top: 40px;
  }

  .eye{
    color:#64a5b4;
    scale: 150%;
    padding-top: 15px;
    margin-right: 20px;
  }
  
  .valid-box .btn {
    margin-top: 20%
  }

  .remember-forgot{
    font-size: .9em;
    color: #172685;
    font-weight: 500;
    margin: 10px 28px 15px;
    display: flex;
    justify-content: space-between;
  }
  
  .remember-forgot label input{
    accent-color: black;
    margin-right: 3px;
  }
  
  .remember-forgot a{
    color: #172685;
    text-decoration: none;
  }
  
  .remember-forgot a:hover{
    color: black;
    text-decoration: none;
  }
  
  button.btn{
    width: 100%;
    height: 50px;
    background-color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    margin-top: 10vh;
  }
  
  .login-register{
    font-size: .9em;
    color: black;
    text-align: center;
    font-weight: 500;
    margin: 5% 0 20% 0;
  }
  
  .login-register a{
    color: #172685;
    text-decoration: none;
    font-weight: 500;
  }
  
  .login-register a:hover{
    text-decoration: underline;
  }
  
  .content p.logo{
    font-style: italic;
    font-size: 5em;
    margin-top: 2%;
    margin-left: 30vw;
  
  }
  
  .content p.contenttext{
    color: #64a5b4;
    margin-left: 30vw;
    margin-top: -50px;
    font-weight: bold;
    font-style: italic;
    font-size: 1.7em;
  }
  
  .body-img{
    background-size: cover;
    background-image: url("../../img/car.png");
    background-position: center;
    height: 50vh;
    margin-top: 17vh;
  }
