#chart {
    height: 100%;
    div svg {
        margin-left: 0px;
        margin-top: 0px;
    }

    .apexcharts-tooltip-title {
        color: black;
    }
    .apexcharts-tooltip-text {
        color: black;
    }
    .apexcharts-datalabels {
        height: 100%;
    }
}
