.plabel {
    background-color: darkblue;
    font-size: 0.5em;
    font-weight: bold;
    height: 30px;
    text-align: left;
    align-items: center;
}
#chart {
    height: 90%;
    div svg {
        margin-left: 0px;
        margin-top: 0px;
        width: 100%;
    }

    .apexcharts-tooltip-title {
        color: black;
    }
    .apexcharts-tooltip-text {
        color: black;
    }
    .apexcharts-datalabels {
        height: 100%;
    }
}
