.dashboard-period {
    width: 100%;
    height: 100%;
    display: block;
    background-color: white;
    border-radius: 10px;
    .dashboard-header {
        display: flex;
        width: 100%;
        height: 40%;
        .aisin-header {
            width: 40%;
            color: darkblue;
            font-family: "VLNL Decks";
            font-style: italic;
            font-weight: bold;
            font-size: 1.5em;
        }
        .monitor-header {
            width: 100%;
            padding: 10px;
            color: darkblue;
            font-weight: bold;
            text-align: left;
        }
    }
    .dashboard-criteria {
        display: flex;
        width: 100%;
        .dashboard-left {
            width: fit-content;
            color: #adc0e1;
            font-size: 0.5em;
            font-weight: 650;
            text-align: left;
            padding-left: 40px;
            p {
                margin-bottom: 0;
            }
        }
        .dashboard-right {
            width: fit-content;
            color: #adc0e1;
            font-size: 0.5em;
            font-weight: 650;
            text-align: left;
            padding-left: 40px;
            p {
                margin-bottom: 0;
            }
        }
    }
}

@media screen and (max-width: 1900px) {
    .dashboard-period {
        .dashboard-header {
            .aisin-header {
                font-size: 1.3em;
            }
            .monitor-header {
                font-size: 0.8em;
            }
        }
        .dashboard-criteria {
            display: flex;
            width: 100%;
            .dashboard-left {
                font-size: 0.4em;
            }
            .dashboard-right {
                font-size: 0.4em;
            }
        }
    }
}

@media screen and (max-width: 1300px) {
    .dashboard-period {
        .dashboard-header {
            .aisin-header {
                width: 60%;
                font-size: 1.2em;
            }
            .monitor-header {
                font-size: 0.7em;
            }
        }
        .dashboard-criteria {
            display: flex;
            width: 100%;
            .dashboard-left {
                padding-left: 20px;
                font-size: 0.35em;
            }
            .dashboard-right {
                padding-left: 20px;
                font-size: 0.35em;
            }
        }
    }
}

@media screen and (max-width: 1050px) {
    .dashboard-period {
        .dashboard-header {
            .aisin-header {
                width: 60%;
                font-size: 1em;
            }
            .monitor-header {
                font-size: 0.6em;
            }
        }
        .dashboard-criteria {
            display: flex;
            width: 100%;
            .dashboard-left {
                padding-left: 20px;
                font-size: 0.3em;
            }
            .dashboard-right {
                padding-left: 20px;
                font-size: 0.3em;
            }
        }
    }
}
