.bttn {
    transform: skew(-45deg);
    height: 40px;
    width: 150px;
    margin-top: 10px;
    text-align: center;
    font-size: 0.85em;
    font-weight: bold;
}

.srbtngroup {
    justify-content: right;
}

.leftalgn {
    margin-left: 10px;
}

.lbtngroup,
.rbtngroup,
.srbtngroup {
    display: flex;
    margin-top: 20px;
}

.rbtngroup span,
.lbtngroup span,
.srbtngroup span {
    display: inline-block;
    transform: skew(35deg);
}

.rbtngroup {
    align-self: right;
}

.aheader {
    display: flex;
    text-align: center;
    background-color: hsl(226, 100%, 22%);
    height: 10vh;
    padding-bottom: 10px;
}

.aheader div p.logo {
    font-size: xx-large;
    margin-top: 20px;
}

.hlabel {
    color: white;
    flex: 10%;
    text-align: center;
    display: block;
    font-family: Tahoma;
}
.hlabel-content {
    font-size: 2.5em;
    margin-top: 20px;
}

.btn-profile {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 15px;
    padding-left: 150px;
}

.dropdown {
    position: relative;
    z-index: 3;
}

@media screen and (max-width: 1024px) {
    .hlabel-content {
        font-size: 1.7em;
        margin-top: 30px;
    }
}

@media screen and (max-width: 991px) {
    .aheader {
        padding-bottom: 10px;
    }
    .aheader div p.logo {
        margin-top: 25px;
        font-size: 1em;
        margin-left: -10px;
    }
    .bttn {
        margin-top: 0px;
        font-size: 0.7em;
        width: 100px;
        height: 35px;
        margin-left: 15px;
        padding: 0px;
    }
    .logotext {
        display: none;
    }
    .hlabel {
        display: none;
    }
}

/*for header of report*/
.rep-btn {
    background-color: #acc0e2;
}

.rbttn {
    transform: skew(-45deg);
    height: 40px;
    width: 130px;
    margin-top: 10px;
    text-align: center;
    font-size: 0.7em;
    font-weight: bold;
}
