.bttn {
    transform: skew(-45deg);
    height: 40px;
    width: 150px;
    margin-top: 10px;
    text-align: center;
    font-size: 0.7em;
    font-weight: bold;
}

.srbtngroup {
    justify-content: right;
}

.leftalgn {
    margin-left: 10px;
}

.lbtngroup,
.rbtngroup,
.srbtngroup {
    display: flex;
    margin-top: 20px;
}

.rbtngroup span,
.lbtngroup span,
.srbtngroup span {
    display: inline-block;
    transform: skew(35deg);
}

.rbtngroup {
    align-self: right;
}

.aheader {
    display: flex;
    text-align: center;
    background-color: #001a71;
    height: 10vh;
}

.aheader div p.logo {
    font-size: xx-large;
    margin-top: 20px;
}

.hbody {
    background-color: #001a71;
    height: 90vh;
    padding-top: 1em;
    display: block;
}

.btn-profile {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 15px;
    padding-left: 150px;
}
