/*For MainPage*/
/*for HomePage*/
.lang {
    margin-top: 30px;
    justify-content: center;
}
.multi-lang {
    background-color: transparent;
    border: none;
}
.langbtn {
    color: white;
    position: absolute;
    font-size: 1.2em;
    margin-top: -10px;
    margin-left: -20px;
}
.box {
    border: solid black 1px;
    background-color: white;
    width: fit-content;
    border-radius: 8px;
    margin-left: -50px;
    position: absolute;
    display: none;
}
.lang.active {
    .box {
        display: block;
    }
}
.globe {
    max-width: 20px;
    margin-left: -50px;
    margin-top: -20px;
}
.hlang {
    padding: 45px 0px;
    align-items: center;
}
.hmulti-lang {
    background-color: transparent;
    border: none;
    padding: 0 0;
}
.hlangbtn {
    color: white;
    position: absolute;
    font-size: 1.2em;
}
.hbox {
    border: solid black 1px;
    background-color: white;
    width: fit-content;
    border-radius: 8px;
    margin-top: 10px;
    position: absolute;
    display: none;
}
.hlang.active {
    .hbox {
        display: block;
        width: 120px;
        margin-right: 30px;
    }
}

.hglobe {
    max-width: 20px;
}
