.lang {
    margin-top: 30px;
    justify-content: center;
}

.multi-lang {
    background-color: transparent;
    border: none;
    /* margin-left: 30%; */
}

.langbtn {
    color: white;
    position: absolute;
    margin-left: -100px;
    font-size: 1.2em;
    margin-top: -5px;
}

.box {
    border: solid black 1px;
    background-color: white;
    width: fit-content;
    border-radius: 8px;
    margin-left: -115px;
    margin-top: 10px;
    position: absolute;
}

.dropdown-item a {
    text-decoration: none;
    color: black;
    margin-left: -10px;
}

.globe {
    max-width: 20px;
    margin-left: -230px;
    margin-top: -10px;
}
