#chartPart {
    height: calc(100% - 30px);

    div svg {
        height: 100%;
        width: 100%;
        margin-left: 0px;
        margin-top: 0px;
    }
    .apexcharts-canvas.apexcharts-theme-light {
        height: 100% !important;
        width: 100% !important;
    }
    .apexcharts-tooltip-title {
        color: black;
    }
    .apexcharts-tooltip-text {
        color: black;
    }
    .apexcharts-datalabels {
        height: 100%;
    }
}
