.dropbtn {
    background-color: transparent;
    margin-left: -80px;
    border: none;
}

.profile {
    width: 25px;
    margin-top: 25px;
    border: solid lightblue 2px;
    margin-left: -50px;
}

.dropdown-content {
    width: 120px;
    text-align: left;
    margin-top: 10px;
    margin-left: -140px;
    background-color: white;
    border-radius: 7%;
    border: solid black 2px;
    position: absolute;
}

.dropdown-content a {
    text-decoration: none;
    color: #86bac5;
}

.powerbutton {
    width: 10px;
    display: inline;
    margin-top: -3px;
    margin-left: 5px;
}
