.dropbtn {
    background-color: transparent;
    border:none;
}

.profile {
    width: 25px;
    margin-top: 70px;
    margin-right: -100px;
    border: solid lightblue 2px;
    display: flex;

}

.dropdown-content {
    background-color: white;
    border-radius: 10%;
    border: solid black 2px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: column;
    min-width: 100px;
    min-height: 100px;
    max-width: max-content;
    max-height: max-content;
}

.dropdown-content a {
    text-decoration: none;
    color: #86bac5;
    width: 130px;
}

.powerbutton {
    width: 13px;
    display:inline;
    margin-top: -3px;
    margin-left: 5px;
    margin-bottom: 2px;
}
