.drop {
    position: relative;
    display: block;
    float: right;
    height: 30px;
    width: 40px;
    align-self: flex-end;
}

.dropbtn {
    background-color: transparent;
    margin-left: -80px;
    border: none;
}
.dropbtn img {
    width: 25px;
    margin-top: 33px;
    border: solid lightblue 2px;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    width: 120px;
    text-align: left;
    margin-top: 10px;
    margin-left: -140px;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: 1px solid black;
    border-radius: 20px;
}

.dropdown-content a {
    text-decoration: none;
    color: #86bac5;
    width: max-content;
    padding: 12px 16px;
    display: block;
}

.dropdown-content span {
    display: flex;
    justify-content: space-between;
}

.powerbutton {
    width: 13px;
    display: inline;
    margin-top: -3px;
    margin-left: 5px;
    margin-bottom: 2px;
}

.dropdown-content a:hover {
    background-color: white;
    border-radius: inherit;
}

.dropdown-content span:hover {
    background-color: white;
    border-radius: inherit;
}

.drop:hover .dropdown-content {
    display: block;
}

.myProfile {
    padding-left: 20px;
    text-decoration: none;
    color: #86bac5;
}
