.sidebar {
    position: absolute;
    background-color: #b0c4e4;
    top: 13vh;
    left: -470px;
    margin-left: 0px;
    height: calc(100% - 14vh);
    width: 450px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
    transition: left 0.5s ease-in-out;
}
.sidebar-toggle {
    position: absolute;
    top: 0%;
    right: -40px;
    height: 3em;
    width: 45px;
    z-index: 1;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 1px;
    background-color: #7697cb;
    img {
        height: 50px;
        margin-left: -10px;
        margin-top: -2px;
    }
}
.sidebar.open {
    left: 0;
    ~ {
        .wrappers {
            width: calc(100% - 495px);
            height: calc(100% - 13vh);
            left: 490px;
            transition: all 0.5s ease-in-out;
        }
    }
}
.searchTitle {
    color: #001a71;
    justify-self: flex-start;
    font-weight: 700;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
        padding-bottom: 5px;
        padding-left: 10px;
    }
    img {
        height: 50px;
        justify-self: flex-end;
        margin-right: -10px;
    }
    button {
        background-color: inherit;
        border: none;
        height: 50px;
    }
}
.searchScroll {
    background-color: #b0c4e4;
    height: 90%;
    width: 98%;
    overflow-y: scroll;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}
.boxcontent1 {
    display: flex;
    flex-direction: column;
}
#scroll-style {
    &::-webkit-scrollbar {
        width: 20px;
        background-color: white;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
        border-radius: 20px;
        background-color: white;
        width: 50px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #b0c4e4;
        border: 2em solid #7697cb;
    }
}
.searchBox {
    display: flex;
    height: 40px;
    width: calc(100% - 40px);
    background-color: #001a71;
    color: white;
    align-self: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    border: none;
    font-size: 15px;
    a {
        justify-self: flex-start;
        align-self: center;
    }
}
.subSearchbtn {
    display: flex;
    font-size: large;
    height: 35px;
    width: calc(100% - 30px);
    background-color: gray;
    color: white;
    align-self: center;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    z-index: 1;
    img {
        height: 70px;
        margin-right: -10px;
        align-self: center;
        margin-top: -10px;
    }
}
.subSearch-content {
    display: flex;
    height: max-content;
    width: calc(100% - 80px);
    background-color: #001a71;
    flex-direction: column;
}
.subSearch {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
}
.subSearch.active {
    .basicInfo {
        display: none;
    }
}
.submitbtn {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 50px;
	width: 92%;
	margin: 20px 0px 20px 20px;
	button {
		border: none;
		border-radius: 10px;
		cursor: pointer;
		color: white;
	}
}
#Submit {
    width: 70%;
    background-color: black;
}
#Reset {
	width: 25%;
	background-color: grey;
	height: 50px;
}
.selectDropdown {
    width: 200px;
    height: auto;
    position: relative;
}
.select-btn {
    height: 20px;
    cursor: pointer;
    background-color: white;
    color: grey;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: 0.3s linear;
    img {
        height: 30px;
    }
}
.selectDropdown.active {
    .select-btn {
        img {
            transform: rotate(-180deg);
        }
    }
    .content {
        display: block;
    }
}
.content {
    background-color: white;
    margin-top: 5px;
    padding: 5px;
    color: black;
    border-radius: 5px;
    border: 1px solid grey;
    display: none;
    position: relative;
    z-index: 4;
    .seacrh {
        position: relative;
    }
    .options {
        margin-top: 5px;
        max-height: 350px;
        overflow-y: auto;
        padding-left: 5px;
    }
}
.search {
    input {
        border-radius: 5px;
        width: 180px;
        padding-left: 30px;
    }
    img {
        height: 40px;
        width: 40px;
        position: absolute;
        margin-top: -5px;
        margin-left: -5px;
    }
}
.options {
    li {
        height: 35px;
        max-width: 180px;
        padding-left: 5px;
        display: flex;
        cursor: pointer;
        align-items: center;
        border-bottom: 1px solid rgb(182, 180, 180);
        justify-content: space-between;
        &:hover {
            background-color: #f2f2f2;
        }
    }
}
.remove-btn {
    height: 20px;
    display: flex;
    align-items: center;
    background-color: white;
    border: none;
    text-decoration: underline;
    color: grey;
}

@media screen and (max-width: 1024px) {
    .sidebar {
        width: 380px;
    }
    .sidebar-toggle {
        right: -150px;
    }
    .sidebar.open {
        ~ {
            .wrappers {
                width: calc(100% - 420px);
                left: 420px;
            }
        }
    }
    .searchBox {
        width: calc(100% - 40px);
        height: 40px;
        text-align: left;
        a {
            font-size: 0.8em;
        }
    }
    .subSearchbtn {
        width: calc(100% - 40px);
    }
    .submitbtn {
        margin: 20px 0px 20px 20px;
    }
    #Submit {
        width: 250px;
        height: 40px;
    }
    #Clear {
        width: 170px;
        height: 40px;
    }
}
@media screen and (max-width: 768px) {
    .sidebar {
        width: 300px;
    }
    .sidebar-toggle {
        right: -250px;
    }
    .sidebar.open {
        ~ {
            .wrappers {
                width: calc(100% - 320px);
                left: 320px;
            }
        }
    }
    .searchBox {
        width: calc(100% - 50px);
        height: 40px;
        text-align: left;
        a {
            font-size: 0.8em;
        }
    }
    .searchScroll {
        height: 98%;
    }
    .select-css {
        width: 100px;
    }
    .subSearchbtn {
        height: 30px;
        width: calc(100% - 50px);
    }
    .submitbtn {
        margin: 20px 0px 5px 20px;
    }
    #Submit {
        width: 250px;
        height: 35px;
    }
    #Clear {
        width: 100px;
        height: 35px;
    }
}
