.sidebar {
    position: absolute;
    background-color: #b0c4e4;
    top: 13.5%;
    left: -26%;
    margin-left: 0px;
    height: 85.5%;
    width: 25%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1%;
    transition: left 0.5s ease-in-out;
}

.CriteriaLoading {
    width: 30%;
}

.sidebar-toggle {
    position: absolute;
    top: 0%;
    right: -40px;
    height: 3em;
    width: 45px;
    z-index: 1;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 1px;
    background-color: #7697cb;
    img {
        height: 50px;
        margin-left: -10px;
        margin-top: -2px;
    }
}
.sidebar.open {
    left: 0;
    ~ {
        .wrappers {
            width: 72%;
            height: calc(100% - 13vh);
            left: 27%;
            transition: all 0.5s ease-in-out;
        }
    }
}
.searchTitle {
    color: #001a71;
    justify-self: flex-start;
    font-weight: 700;
    font-size: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    p {
        padding-top: 10px;
        padding-left: 20px;
    }
    img {
        height: 50px;
        justify-self: flex-end;
        margin-right: -10px;
    }
    button {
        background-color: inherit;
        border: none;
        height: 50px;
    }
}
.searchScroll {
    background-color: #b0c4e4;
    height: 90%;
    width: 98%;
    overflow-y: scroll;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}
.boxcontent1 {
    display: flex;
    flex-direction: column;
}
#scroll-style {
    &::-webkit-scrollbar {
        width: 20px;
        background-color: white;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
        border-radius: 20px;
        background-color: white;
        width: 50px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #b0c4e4;
        border: 2em solid #7697cb;
    }
}
.searchBox {
    display: flex;
    height: 40px;
    width: calc(100% - 40px);
    background-color: #001a71;
    color: white;
    align-self: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    border: none;
    font-size: 15px;
    text-align: left;
    p {
        margin-top: 15px;
        justify-self: flex-start;
        align-self: center;
        display: flex;
        justify-content: flex-start;
        width: 45%;
    }
    span {
        width: 55%;
    }
}
.subSearchbtn {
    display: flex;
    font-size: large;
    height: 35px;
    width: calc(100% - 30px);
    background-color: gray;
    color: white;
    align-self: center;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    z-index: 1;
    img {
        height: 70px;
        margin-right: -10px;
        align-self: center;
        margin-top: -10px;
    }
}
.subSearch-content {
    display: flex;
    height: max-content;
    width: calc(100% - 80px);
    background-color: #001a71;
    flex-direction: column;
}
.subSearch {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
}
.subSearch.active {
    .basicInfo {
        display: none;
    }
}
.submitbtn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    width: 92%;
    margin: 20px 0px 20px 20px;
    button {
        border: none;
        border-radius: 10px;
        cursor: pointer;
        color: white;
    }
}
#Submit {
    width: 70%;
    background-color: black;
}
#Reset {
    width: 25%;
    background-color: grey;
    height: 50px;
}
.selectDropdown {
    width: 100%;
    height: auto;
    position: relative;
}
.select-btn {
    height: 20px;
    cursor: pointer;
    background-color: white;
    color: grey;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: 0.3s linear;
    img {
        height: 30px;
    }
    span {
        display: flex;
        justify-items: flex-start;
        width: max-content;
    }
}
.selectDropdown.active {
    .select-btn {
        img {
            transform: rotate(-180deg);
        }
    }
    .content {
        display: block;
    }
}
.content {
    background-color: white;
    margin-top: 5px;
    padding: 5px;
    color: black;
    border-radius: 5px;
    border: 1px solid grey;
    display: none;
    position: relative;
    z-index: 4;
    .seacrh {
        position: relative;
    }
    .options {
        margin-top: 5px;
        max-height: 350px;
        overflow-y: auto;
        padding-left: 5px;
    }
}
.search {
    input {
        border-radius: 5px;
        width: 180px;
        padding-left: 30px;
    }
    img {
        height: 40px;
        width: 40px;
        position: absolute;
        margin-top: -5px;
        margin-left: -5px;
    }
}
.options {
    li {
        height: 35px;
        max-width: 180px;
        padding-left: 5px;
        display: flex;
        cursor: pointer;
        align-items: center;
        border-bottom: 1px solid rgb(182, 180, 180);
        justify-content: space-between;
        &:hover {
            background-color: #f2f2f2;
        }
    }
}
.remove-btn {
    height: 20px;
    display: flex;
    align-items: center;
    background-color: white;
    border: none;
    text-decoration: underline;
    color: grey;
}
