.specpop {
    position: absolute;
    height: 70%;
    width: 35em;
    background-color: rgba(229,229,229,255);
    border: 2px solid black;
    margin-left: 5vh;
    backdrop-filter: blur(20px);
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 20px;
}

.pdfpop {
    height: 90%
}

.specheader {
    background-color: rgba(204,204,204,255);
    height: 40px;
    align-items: center;
    border-bottom: 2px solid black;
}

.specmodel {
    font-size: 0.65em;
    font-weight: bold;
    float:left;
    padding-left: 20px;
    margin-top: 10px;
}

.closingicon {
    float: right;
    background-color: transparent;
    border: none;
    font-weight: bold;
}

.specbody {
    height: 95%;
    margin-top: 5px;
    margin-left: 30px;
    margin-right: 10px;
    overflow-y:auto;
}

.specbody::-webkit-scrollbar {
    width: 13px;
}

.specbody::-webkit-scrollbar-track {
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 5px;
}

.specbody::-webkit-scrollbar-thumb {
    background: rgba(172,192,226,255);
    border-radius: 5px;
    background-clip: content-box;
    height: 20px;
}

.sbcontent {
    margin-right: 20px;
    overflow-x:scroll;
    margin-bottom: 10px;
}

.sbcontent::-webkit-scrollbar {
    height: 13px;
}

.sbcontent::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.sbcontent::-webkit-scrollbar-thumb {
    background: rgba(172,192,226,255);
    border-radius: 5px;
    background-clip: content-box;
    height: 20px;
}

.partimg {
    width: 100%;
    height: 35%;
    border: 2px solid black;
}

.speclabel {
    background-color: white;
    margin-top: 3px;
    border: solid 2px black;
    font-size: 1.15em;
    text-align: left;
    padding-left: 7px;
    width: 100%;
    font-weight: bold;
}

.labelOE {
    font-size: 1.3em;
}

.specpart-table td, th {
    border: 2px solid white;
    border-collapse: collapse;
    font-size: 0.85em;
}

.specpart-table tr:nth-child(even) {
    background-color: rgba(203,203,203,255);
}

.specpart-table tr:nth-child(odd) {
    background-color: rgba(231,231,231,255);
}

.specpart-table {
    width: 100%;
    height: fit-content;
}

.specpart-table td {
    height: 50px;
}

.spectitle, .infoHeader, .subspectitle, .comptitle {
    color: white;
    background-color: rgba(0,26,113,255);
    font-weight: bold;
}

.speccode {
    width: 50px;
}

.infoHeader {
    width: 20%;
}

.subspectitle {
    width: 20px;
}

.speccomp-table th, td {
    border: 2px solid white;
}

.speccomp-table tr:nth-child(odd) {
    background-color: rgba(203,203,203,255);
}

.speccomp-table tr:nth-child(even) {
    background-color: rgba(231,231,231,255);
}

.speccomp-table {
    margin-top: 5px;
}

.comptitle {
    width: 10%;
}


