.body{
    background-color: #001a71;
    display: flex;
    width: 100%;
    height: calc(100% - 10vh);
}

.wrappers{
    position: absolute;
    background-color: darkblue;
    left: 10px;
    top: 13vh;
    height: calc(100% - 13vh) ;
    width: 99%;
    display: flex;
    transition: left 0.5s ease-in-out;
}

.tabs{
    position: absolute;
    background: #001a71;
    height: 100%;
    width: 100%;
}

.tabs::before,
.tabs::after{
    content: "";
    display: table;
}

.tabs::after{
    clear: both;
}

.tab{
    float: left;
}
  
.tab-switch {
    display: none;
}

.tab-label{
    position: relative;
    display: block;
    line-height: 2.75em;
    height: 3em;
    width: 200px;
    cursor: pointer;
    transition: all 0.25s;
}


.tab-switch:checked + .tab-label{
    background: #b0c4e4;
    color: darkblue;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
    font-style: italic;
}

.tab-switch:checked + label + .tab-content{
    z-index: 2;
    opacity: 1;
    transition: all 0.35s;
}

.tabcontent{
    background-color: #b0c4e4;
    height: 93%;
    width: 100%;
    padding-left: 20px;
    position: absolute;
}

.tabcontent h3{
    color: black;
    text-align: left;
    font-size: small;
    padding-top: 20px;
    font-style: italic;
}

.Scroll{
    background-color: #b0c4e4;
    height: 93%;
    width: 100%;
    border-radius: 20px;
    overflow: scroll;
    display: flex;
    max-height: 98%;
    max-width: 99%;
    padding-bottom: 10px;
    padding-right: 10px;
}

#scroll-style::-webkit-scrollbar{
	width: 20px;
	background-color: white;
    border-radius: 10px;
}

#scroll-style::-webkit-scrollbar-track{
	border-radius: 20px;
	background-color: white;
    width: 50px;
}

#scroll-style::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-color: #b0c4e4;
    border: 2em solid #7697cb ;
}

.contents{
    display: flex;
    background-color: white;
    min-height: 100%;
    min-width: 100%;
    max-width: max-content;
    max-height: max-content;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
}

.contents h1{
    color: darkblue;
    font-size: large;
}

.contents h2{
    color: lightblue;
    font-size: large;
}

.sidebar {
    position: absolute;
    top: 13vh;
    left: -500px;
    margin-left: 0px;
    height: calc(100% - 14vh);
    width: 500px;
    transition: left 0.5s ease-in-out;
    background-color: lightgray;
  }
  .sidebar-toggle {
    position: absolute;
    top: 0%;
    right: -60px;
    height: 60px;
    width: 60px;
    z-index: 1;
  }
  .content {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    height: 100%;
    transition: left 0.5s ease-in-out;
    background-color: lightgray;
  }
  .sidebar.open {
    left: 0;
  }
  .content.open {
    left: 0;
  }
  
  .sidebar.open ~ .wrappers {
    width: 71%;
    height:calc(100% - 13vh);
    left: 520px;
  }

  .bttn {
    transform: skew(-35deg);
    min-height:50px;
    width:150px;
    text-align: center;
    font-size: 0.85em;
    font-weight: bold;
}

.srbtngroup {
    justify-content: right;
}

.leftalgn {
    margin-left: 10px;
}

.lbtngroup, .rbtngroup, .srbtngroup {
    display:flex;
    margin-top: 20px;
}

.rbtngroup span, .lbtngroup span, .srbtngroup span {
    display: inline-block;
    transform: skew(35deg);
}

.rbtngroup {
    align-self: right;
}

.aheader{
    display: flex;
    text-align: center;
    background-color: #001a71;
    height: 10vh;
}

.aheader div p.logo{
    font-size: xx-large;
    margin-top: 20px;
}
  
.hbody{
    background-color: #001a71;
    height: 90vh;
    padding-top: 1em;
    display: block;
}