.contents-part-list {
    display: flex;
    background-color: white;
    min-height: 100%;
    min-width: 100%;
    width: max-content;
    height: max-content;
    border-radius: 20px;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
}

.titlecontent {
    display: flex;
}
.download {
    align-items: center;
    text-align: center;
    border: transparent;
    background-color: transparent;
}

.droplist {
    position: fixed;
    background-color: white;
    align-items: left;
    margin-left: 8%;
    margin-top: -10px;
    width: 12.6vw;
    display: block;
    padding: 5px;
    border-radius: 3px;
    border: solid 1px grey;
}

.dropdldtxt {
    margin-top: 10px;
    font-weight: bold;
    float:left;
    margin-bottom: 5px;
}

.dropdldbtn {
    text-align: left;
    border: transparent;
    background-color: transparent;
    float: left;
    width: 100%;
    padding: 5px;
}

.dropdldbtn:hover {
    background-color: rgb(185, 185, 185);
}

.downloadbutton {
    max-width: 50px;
    background-color: transparent;
    cursor: pointer;
}

.download-text {
    cursor: pointer;
    font-weight: bold;
    margin-top: -5px;
}

td,
tr {
    border: solid 2px white;
    height: 40px;
    font-size: 1.1em;
}

table {
    height: 100%;
    width: 97%;
    margin-top: -10px;
}

.title {
    border: solid 5px white;
    background-color: black;
    color: white;
    height: 50px;
}

.subtitle {
    color: white;
    border: solid 2px white;
}

.OE {
    background-color: black;
}

.AISIN {
    background-color: darkblue;
}

table tbody tr:nth-child(odd) {
    background-color: #e7e7e7;
}

table tbody tr:nth-child(even) {
    background-color: #cbcbcb;
}

button.details {
    background-color: grey;
    color: white;
    border: solid 2px black;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}
.details:focus {
    border: solid 3px black;
}

.partlistscroll {
    background-color: #b0c4e4;
    height: 90%;
    width: 100%;
    border-radius: 20px;
    overflow: auto;
    display: flex;
    max-height: 98%;
    max-width: 99%;
    padding-bottom: 20px;
    padding-right: 50px;
}

#pscroll-style::-webkit-scrollbar-corner {
    background-color: transparent;
}

#pscroll-style::-webkit-scrollbar {
    width: 15px;
    background-color: white;
    border-radius: 10px;
}

#pscroll-style::-webkit-scrollbar-track {
    border-radius: 20px;
    background-color: white;
    width: 50px;
}

#pscroll-style::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #b0c4e4;
    border: 2em solid #7697cb;
}
