.coverage-summary {
    display: block;
    width: 540px;
}
.summary-label {
    background-color: darkblue;
    font-size: 0.5em;
    font-weight: bold;
    height: 30px;
    align-items: center;
}
.summary-item p {
    margin-bottom: 0px;
}
.summary-item {
    margin-top: 10px;
    display: flex;
    font-size: 0.5em;
    height: 100px;
}
.summary-item div {
    background-color: #d6dff0;
    color: black;
    border-radius: 10px;
    font-weight: bold;
    margin: 0px 5px;
}
.summary-item div.col p.item {
    margin-top: 30px;
}
div#gauge-chart1,
div#gauge-chart2,
div#gauge-chart3 {
    margin-left: 0px;
    max-width: 150px;
    height: 50px;
}
div svg {
    scale: 80%;
    margin-left: 10px;
    margin-top: 10px;
}
g.needle {
    display: none;
}
div#gauge-chart1 text {
    fill: red !important;
    font-size: 1.5em !important;
}
div#gauge-chart2 text {
    fill: yellow !important;
    font-size: 1.5em !important;
}
div#gauge-chart3 text {
    fill: green !important;
    font-size: 1.5em !important;
}
